#root {
  margin: 0 auto;

}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
  height: 0px; /* Height of the scrollbar (horizontal) */
}

/* The scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #ffffff; /* Color of the track */
  border-radius: 10px;
}

/* The draggable part of the scrollbar (thumb) */
::-webkit-scrollbar-thumb {
  background: #ffc801; /* Color of the thumb */
  border-radius: 10px;
}

/* The thumb hover state */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}


.app{
  background-color: rgba(255, 255, 255, 0.8);
height: 100vh;
}

body{
  background-image: url("./assets//bg.jpg");
  background-size: cover; /* Ensures the background image covers the entire viewport */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  background-position: center; /* Centers the background image */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.pagination-container {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.paginate-buttons {
  height: 32px;
  width: 32px;
  border-radius: 8px !important;
  cursor: pointer;
  background-color: white !important;
  border: none !important;
  color: #696f8c !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate-buttons:hover {
  background-color: transparent;
}

.active-page {
  color: #000000 !important;
  outline-width: 0;
  border-radius: 8px !important;
  border: none !important;
  background-color: #ffc801 !important;
}

.active-page:hover {
  background-color: white;
}

.primary-bg{
background-color: #ffc801;
}